<!DOCTYPE html>
<html>
<head>
    <title>Welcome to MEEP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>
<body class = "page">
        <section class="rw-wrapper">
    <h2 class="rw-sentence">
        <span>MEEP</span>
        <span>is</span>
        <div class="rw-words rw-words-1">
            <span>innovative</span>
            <span>incredible</span>
            <span>intuitive</span>
            <span>amazing</span>
        </div>
    </h2>
    <h2>Click on a button to Sign Up</h2>

    <a href="/signup">
        <button type="button">Sign Up!</button>
    </a>
    
    <h2>If you already have an account, Login</h2>
    <a href="/login">
        <button type="button">Log In!</button>
    </a> 

</body>
</html>
